@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/angular/app.js"></script>
<script src="~/Scripts/angular/app.module.js"></script>
<script src="~/Scripts/angular/app.config.js"></script>

<script src="~/Scripts/angular/phone-list/phone-list.module.js"></script>
<script src="~/Scripts/angular/phone-list/phone-list.component.js"></script>
<script src="~/Scripts/angular/phone-detail/phone-detail.module.js"></script>
<script src="~/Scripts/angular/phone-detail/phone-detail.component.js"></script>

<script src="~/Scripts/angular/core/phone/phone.module.js"></script>
<script src="~/Scripts/angular/core/phone/phone.service.js"></script>
<link href="~/Content/app.css" rel="stylesheet" />

<div ng-view></div>